.hello_box {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: aqua;
    font-weight: 600;
    background-color: black;
    padding: 50px;
}

.index_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#special {
    margin: 0;
    padding: 30px;
    font-size: 15px;
}